@import "bourbon/bourbon";
@import "base/base";
@import "base/grid-settings";
@import "neat/neat-helpers";
@import "neat/neat";

$large-screen: 870px;
$base-background-color: #ffcf00;
$max-width: 100%;

@import "refills/browser";
@import "refills/icon-bullet-points";
@import "refills/comment";
@import "refills/device";
@import "refills/type-system-geometric";
@import "refills/hover-tile-animation";

@import "refills/breadcrumbs";
@import "flashes";
@import "refills/footer";
@import "refills/hero";
@import "refills/navigation";

body {
  background: $base-background-color;
  margin: 0;
  padding: 0;
}

#container {
  @include outer-container;
}

.device .screen {
  background-image: url(/images/mittens-messages.jpg);
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

span#countries_title.ddTitleText {
  text-align: right;
  padding-right: 35px;
}
select, div#countries_msdd.dd.ddcommon.borderRadius {
  float: left;
  width: 50%;
}
div.ddTitle.borderRadiusTp, div#countries_msdd.dd.ddcommon.borderRadius {
  border-radius: 5px 0 0 5px;
}
input[name='number'] {
  width: 50%;
  border-radius: 0 5px 5px 0;
}
textarea {
  width: 100%;
}

.device-background {
  height: 28em;
  padding-top: 5em;
  background: none;
}
.device-text {
  padding: 0;
  margin: 2em 0 4em 4em;
}
.device {
  margin-right: 8em;
}

header.navigation a.sign-up {
  margin: 1.2em 0
}

#js-navigation-menu {
  display: none;
}

@media screen and (max-width: $large-screen) {
  .device-text {
    margin-right: 4em;
  }
}
