@import "bourbon";
@import "base/base";
@import "base/grid-settings";
@import "neat/neat-helpers";
@import "neat";

$large-screen: 965px;
$base-background-color: #ffb300;
$max-width: 100%;

@import "refills/browser";
@import "refills/icon-bullet-points";
@import "refills/comment";
@import "refills/device";
@import "refills/type-system-geometric";
@import "refills/hover-tile-animation";

@import "refills/breadcrumbs";
@import "refills/footer";
@import "refills/hero";
@import "navigation";

body {
  background: $base-background-color;
  margin: 0;
  padding: 0;
}

.logo img {
  @include filter(grayscale(100%));
}

#container {
  @include outer-container;
}

.device .screen {
  background-image: url(/images/mittens-messages.jpg);
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

span#countries_title.ddTitleText {
  text-align: right;
  padding-right: 35px;
}
select, div#countries_msdd.dd.ddcommon.borderRadius {
  float: left;
  width: 50%;
}
div.ddTitle.borderRadiusTp, div#countries_msdd.dd.ddcommon.borderRadius {
  border-radius: 5px 0 0 5px;
}
input[name='number'] {
  width: 50%;
  border-radius: 0 5px 5px 0;
}
textarea {
  width: 100%;
}

.device-background {
  height: 28em;
  padding-top: 5em;
  background-image: none;
  background-color: $base-background-color;
  background-size: auto,auto,100% 1000px,100% 1000px;
  @include background-image(
    radial-gradient(0% bottom,rgba(lighten(adjust-hue($base-background-color, 15%), 15%),.7) 0, rgba(lighten(adjust-hue($base-background-color, 15%), 15%),0) 60%),
    radial-gradient(90% bottom,rgba(darken($base-background-color, 25%),0) 0,rgba(lighten(adjust-hue($base-background-color, 25%), 10%), 0) 40%),
    radial-gradient(50% top,rgba(lighten(adjust-hue($base-background-color, -25%), 20%),.6) 0,rgba(lighten(adjust-hue($base-background-color, -25%), 20%),0) 75%),
    radial-gradient(right top,lighten($base-background-color, 30%) 0, rgba(lighten($base-background-color, 30%), 0) 57%)
  );
}
.device-text {
  padding: 0;
  margin: 2em 0 4em 4em;
}
.device {
  margin-right: 12em;
}

header.navigation .navigation-tools a {
  display: block;
  margin: 0.9em 0;
  float: right;
}

@media screen and (max-width: $large-screen) {
  .device-text {
    margin-right: 4em;
  }
}
