footer.footer
  .footer-logo
    a.logo(href="https://blower.io")
      img(src="/images/blower-icon-color.png" alt="Blower.io")
  .footer-links
    ul
      li
        h3 Products
      li
        a(href="http://getglu.io") Glu IO
      li
        a(href="https://blower.io") Blower.io SMS
      li
        a(href="http://getglu.io/jumpstartup") JumpstartUp
      li
        a(href="http://getglu.io/deezy") Deezy
      li
        a(href="http://getglu.io/nestadrop") NestaDrop
      li
        a(href="http://cloudserviceweekly.com") Cloud Service Weekly
    ul
      li
        h3 Follow Us
      li
        a(href="https://twitter.com/getglu") Twitter
      li
        a(href="https://www.facebook.com/getgluio") Facebook
      li
        a(href="https://github.com/gluio/") GitHub
      li
        a(href="http://stackshare.io/glu-io/glu-io") StackShare.io
      li
        a(href="http://http://cloudserviceweekly.com") Cloud Service Weekly
    ul
      li
        h3 Contact
      li
        a(href="mailto:support@blower.io") Blower.io Support
      li
        a(href="http://help.heroku.com") Heroku Support
  hr

  p
    | Page template is based on&nbsp;
    a(href="http://getglu.io/jumpstartup") JumpStartup
    | . SMSatron is free software, and may be redistributed under the terms specified in the&nbsp;
    a(href="https://github.com/gluio/smsatron-nodejs#license") license
    br
    | &copy; Copyright 2015 Glu IO Pty. Ltd.
