.device-background
  .device-text
      h1 The SMS-atron 3000
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, recusandae? Deserunt repellendus.
      button Learn More
  .device
    .screen

