.device-background
  .device-text
      while message = flash.pop()
        div(class="flash-#{message.type}")
          span= message.message
      h1 The SMS-atron 3000
      p Send a message to a mobile device almost anywhere in the world!
      != partial('messager')
  .device
    .screen

