form(action='/send' method='post')
  label Mobile number
  select(name='country' id='countries')
    option(value='96' data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag af" data-title="Afghanistan") Afghanistan (+93)
    option(value='35818') Aland Island (+358 18)
    option(value='213') Algeri (+213)
    option(value='244') Angol (+244)
    option(value='1264') Anguill (+1 264)
    option(value='1268') Antigua and Barbud (+1 268)
    option(value='54') Argentin (+54)
    option(value='374') Armeni (+374)
    option(value='297') Arub (+297)
    option(value='61') Australia/Cocos/Christmas Islan (+61)
    option(value='43') Austri (+43)
    option(value='994') Azerbaija (+994)
    option(value='1242') Bahama (+1 242)
    option(value='973') Bahrai (+973)
    option(value='880') Banglades (+880)
    option(value='1246') Barbado (+1 246)
    option(value='375') Belaru (+375)
    option(value='32') Belgiu (+32)
    option(value='501') Beliz (+501)
    option(value='229') Beni (+229)
    option(value='1441') Bermud (+1 441)
    option(value='591') Bolivi (+591)
    option(value='387') Bosnia and Herzegovin (+387)
    option(value='267') Botswan (+267)
    option(value='267') Brazi (+267)
    option(value='673') Brune (+673)
    option(value='359') Bulgari (+359)
    option(value='226') Burkina Fas (+226)
    option(value='257') Burund (+257)
    option(value='855') Cambodi (+855)
    option(value='237') Cameroo (+237)
    option(value='1') Canad (+1)
    option(value='238') Cape Verd (+238)
    option(value='1345') Cayman Island (+1 345)
    option(value='236') Central Afric (+236)
    option(value='235') Cha (+235)
    option(value='56') Chil (+56)
    option(value='86') Chin (+86)
    option(value='57') Colombi (+57)
    option(value='269') Comoro (+269)
    option(value='242') Cong (+242)
    option(value='506') Costa Ric (+506)
    option(value='385') Croati (+385)
    option(value='357') Cypru (+357)
    option(value='420') Czech Republi (+420)
    option(value='45') Denmar (+45)
    option(value='253') Djibout (+253)
    option(value='1767') Dominic (+1 767)
    option(value='1809') Dominican Republi (+1 809)
    option(value='1829') Dominican Republi (+1 829)
    option(value='1849') Dominican Republi (+1 849)
    option(value='20') Egyp (+20)
    option(value='503') El Salvado (+503)
    option(value='240') Equatorial Guine (+240)
    option(value='372') Estoni (+372)
    option(value='251') Ethiopi (+251)
    option(value='500') Falkland Island (+500)
    option(value='298') Faroe Island (+298)
    option(value='679') Fij (+679)
    option(value='358') Finlan (+358)
    option(value='33') Franc (+33)
    option(value='594') French Guian (+594)
    option(value='241') Gabo (+241)
    option(value='220') Gambi (+220)
    option(value='995') Georgi (+995)
    option(value='49') German (+49)
    option(value='233') Ghan (+233)
    option(value='350') Gibralta (+350)
    option(value='30') Greec (+30)
    option(value='299') Greenlan (+299)
    option(value='1473') Grenad (+1 473)
    option(value='590') Guadeloup (+590)
    option(value='1671') Gua (+1 671)
    option(value='502') Guatemal (+502)
    option(value='44') Guernse (+44)
    option(value='224') Guine (+224)
    option(value='592') Guyan (+592)
    option(value='509') Haiti (+509)
    option(value='504') Honduras (+504)
    option(value='852') Hong Kong (+852)
    option(value='36') Hungary (+36)
    option(value='354') Iceland (+354)
    option(value='91') India (+91)
    option(value='62') Indonesia (+62)
    option(value='98') Iran (+98)
    option(value='964') Iraq (+964)
    option(value='353') Ireland (+353)
    option(value='44') Isle of Man (+44)
    option(value='972') Israel (+972)
    option(value='39') Italy (+39)
    option(value='225') Ivory Coas (+225)
    option(value='1 876') Jamaica (+1 876)
    option(value='81') Japan (+81)
    option(value='44') Jersey (+44)
    option(value='962') Jordan (+962)
    option(value='7 6') Kazakhstan (+7 6)
    option(value='254') Kenya (+254)
    option(value='82') Korea Republic o (+82)
    option(value='965') Kuwait (+965)
    option(value='996') Kyrgyzstan (+996)
    option(value='856') Laos PD (+856)
    option(value='371') Latvia (+371)
    option(value='961') Lebanon (+961)
    option(value='266') Lesotho (+266)
    option(value='231') Liberia (+231)
    option(value='218') Libya (+218)
    option(value='423') Liechtenstein (+423)
    option(value='370') Lithuania (+370)
    option(value='352') Luxembourg (+352)
    option(value='853') Macau (+853)
    option(value='389') Macedonia (+389)
    option(value='261') Madagascar (+261)
    option(value='265') Malawi (+265)
    option(value='60') Malaysia (+60)
    option(value='960') Maldives (+960)
    option(value='223') Mali (+223)
    option(value='356') Malta (+356)
    option(value='596') Martinique (+596)
    option(value='222') Mauritania (+222)
    option(value='230') Mauritius (+230)
    option(value='52') Mexico (+52)
    option(value='377') Monaco (+377)
    option(value='976') Mongolia (+976)
    option(value='382') Montenegro (+382)
    option(value='1 664') Montserrat (+1 664)
    option(value='212') Morocco/Western Sahar (+212)
    option(value='258') Mozambique (+258)
    option(value='264') Namibia (+264)
    option(value='674') Nauru (+674)
    option(value='977') Nepal (+977)
    option(value='31') Netherlands (+31)
    option(value='687') New Caledonia (+687)
    option(value='64') New Zealand (+64)
    option(value='505') Nicaragua (+505)
    option(value='227') Niger (+227)
    option(value='234') Nigeria (+234)
    option(value='47') Norway (+47)
    option(value='968') Oman (+968)
    option(value='92') Pakistan (+92)
    option(value='970') Palestinian Territor (+970)
    option(value='507') Panama (+507)
    option(value='675') Papua New Guinea (+675)
    option(value='595') Paraguay (+595)
    option(value='51') Peru (+51)
    option(value='63') Philippines (+63)
    option(value='48') Poland (+48)
    option(value='351') Portugal (+351)
    option(value='1 787') Puerto Rico (+1 787)
    option(value='974') Qatar (+974)
    option(value='40') Romania (+40)
    option(value='7') Russia/Kazakhsta (+7)
    option(value='250') Rwanda (+250)
    option(value='685') Samoa (+685)
    option(value='378') San Marino (+378)
    option(value='239') Sao Tome and Princip (+239)
    option(value='966') Saudi Arabia (+966)
    option(value='221') Senegal (+221)
    option(value='381') Serbia (+381)
    option(value='248') Seychelles (+248)
    option(value='65') Singapore (+65)
    option(value='421') Slovakia (+421)
    option(value='386') Slovenia (+386)
    option(value='27') South Africa (+27)
    option(value='34') Spain (+34)
    option(value='94') Sri Lanka (+94)
    option(value='1869') St Kitts and Nevi (+1 869)
    option(value='1758') St Luci (+1 758)
    option(value='1784') St Vincent Grenadine (+1 784)
    option(value='249') Sudan (+249)
    option(value='597') Suriname (+597)
    option(value='268') Swaziland (+268)
    option(value='46') Sweden (+46)
    option(value='41') Switzerland (+41)
    option(value='963') Syria (+963)
    option(value='886') Taiwan (+886)
    option(value='992') Tajikistan (+992)
    option(value='255') Tanzania (+255)
    option(value='66') Thailand (+66)
    option(value='670') Timor-Lest (+670)
    option(value='676') Tonga (+676)
    option(value='1 868') Trinidad and Tobago (+1 868)
    option(value='90') Turkey (+90)
    option(value='1 649') Turks and Caicos Islands (+1 649)
    option(value='256') Uganda (+256)
    option(value='380') Ukraine (+380)
    option(value='971') United Arab Emirates (+971)
    option(value='44') United Kingdom (+44)
    option(value='1') United States (+1)
    option(value='598') Uruguay (+598)
    option(value='998') Uzbekistan (+998)
    option(value='58') Venezuela (+58)
    option(value='84') Vietnam (+84)
    option(value='1284') Virgin Islands, Britis (+1 284)
    option(value='967') Yemen (+967)
    option(value='260') Zambia (+260)
    option(value='263') Zimbabwe (+263)
  input(type='text' name='number')
  label Message
    textarea(name='message')
  input(type='submit' value='Send')
