html
  head
    title SMSatron
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/msdropdown/dd.css')
    link(rel='stylesheet', href='/stylesheets/msdropdown/flags.css')
    script(src="/scripts/jquery-2.1.3.min.js")
    script(src="/scripts/jquery.dd.min.js")
    script(type='text/javascript').
      $(document).ready(function() {
        $('#js-navigation-menu').removeClass("show");
        $('#js-mobile-menu').on('click', function(e) {
          e.preventDefault();
          $('#js-navigation-menu').slideToggle(function(){
            if($('#js-navigation-menu').is(':hidden')) {
              $('#js-navigation-menu').removeAttr('style');
            }
          });
        });
        $.get("http://ipinfo.io", function(response) {
          $("#countries option[data-imagecss='flag " + response.country.toLowerCase() + "']").prop('selected', true)
          $("#countries").msDropdown()
          $("#countries_msdd").width("48%")
        }, "jsonp");
      })
  body
    #container
      != partial('nav')
      != body
      != partial('footer')
