form(action='/send' method='post')
  select(name='country' id='countries')
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag af" data-title="Afghanistan" value='96') Afghanistan (+93)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag fi" data-title="" value='35818') Aland Island (+358 18)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag dz" data-title="" value='213') Algeria (+213)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ao" data-title="" value='244') Angola (+244)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ai" data-title="" value='1264') Anguilla (+1 264)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ag" data-title="" value='1268') Antigua and Barbuda (+1 268)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ar" data-title="" value='54') Argentina (+54)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag am" data-title="" value='374') Armenia (+374)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag aw" data-title="" value='297') Aruba (+297)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag au" data-title="" value='61') Australia (+61)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag at" data-title="" value='43') Austria (+44)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag az" data-title="" value='994') Azerbaijan (+994)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bs" data-title="" value='1242') Bahamas (+1 242)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bh" data-title="" value='973') Bahrain (+973)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bd" data-title="" value='880') Bangladesh (+880)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bb" data-title="" value='1246') Barbados (+1 246)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag by" data-title="" value='375') Belarus (+375)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag be" data-title="" value='32') Belgium (+32)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bz" data-title="" value='501') Belize (+501)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bj" data-title="" value='229') Benin (+229)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bm" data-title="" value='1441') Bermuda (+1 441)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bo" data-title="" value='591') Bolivia (+591)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ba" data-title="" value='387') Bosnia and Herzegovina (+387)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bw" data-title="" value='267') Botswana (+267)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag br" data-title="" value='55') Brazil (+55)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bn" data-title="" value='673') Brunei (+673)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bg" data-title="" value='359') Bulgaria (+359)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bf" data-title="" value='226') Burkina Faso (+226)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag bi" data-title="" value='257') Burundi (+257)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag kh" data-title="" value='855') Cambodia (+855)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag cm" data-title="" value='237') Cameroon (+237)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ca" data-title="" value='1') Canada (+1)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag cv" data-title="" value='238') Cape Verde (+238)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ky" data-title="" value='1345') Cayman Islands (+1 345)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag cf" data-title="" value='236') Central Africa (+236)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag td" data-title="" value='235') Chad (+235)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag cl" data-title="" value='56') Chile (+56)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag cn" data-title="" value='86') China (+86)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag co" data-title="" value='57') Colombia (+57)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag km" data-title="" value='269') Comoros (+269)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag cd" data-title="" value='242') Congo (+242)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag cr" data-title="" value='506') Costa Rica (+506)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag hr" data-title="" value='385') Croatia (+385)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag cy" data-title="" value='357') Cyprus (+357)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag cz" data-title="" value='420') Czech Republic (+420)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag dk" data-title="" value='45') Denmark (+45)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag dj" data-title="" value='253') Djibouti (+253)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag dm" data-title="" value='1767') Dominica (+1 767)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag do" data-title="" value='1809') Dominican Republic (+1 809)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag do" data-title="" value='1829') Dominican Republic (+1 829)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag do" data-title="" value='1849') Dominican Republic (+1 849)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag eg" data-title="" value='20') Egypt (+20)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sv" data-title="" value='503') El Salvador (+503)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gq" data-title="" value='240') Equatorial Guinea (+240)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ee" data-title="" value='372') Estonia (+372)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag et" data-title="" value='251') Ethiopia (+251)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag fk" data-title="" value='500') Falkland Islands (+500)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag fo" data-title="" value='298') Faroe Islands (+298)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag fj" data-title="" value='679') Fiji (+679)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag fi" data-title="" value='358') Finland (+358)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag fr" data-title="" value='33') France (+33)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag pf" data-title="" value='594') French Guiana (+594)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ga" data-title="" value='241') Gabon (+241)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gm" data-title="" value='220') Gambia (+220)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ge" data-title="" value='995') Georgia (+995)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag de" data-title="" value='49') Germany (+49)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gh" data-title="" value='233') Ghana (+233)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gi" data-title="" value='350') Gibraltar (+350)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gr" data-title="" value='30') Greece (+30)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gl" data-title="" value='299') Greenland (+299)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gd" data-title="" value='1473') Grenada (+1 473)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gp" data-title="" value='590') Guadeloupe (+590)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gu" data-title="" value='1671') Guam (+1 671)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gt" data-title="" value='502') Guatemala (+502)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gg" data-title="" value='44') Guernsey (+44)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gn" data-title="" value='224') Guinea (+224)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gy" data-title="" value='592') Guyana (+592)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ht" data-title="" value='509') Haiti (+509)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag hn" data-title="" value='504') Honduras (+504)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag hk" data-title="" value='852') Hong Kong (+852)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag hu" data-title="" value='36') Hungary (+36)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag is" data-title="" value='354') Iceland (+354)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag in" data-title="" value='91') India (+91)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag id" data-title="" value='62') Indonesia (+62)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ir" data-title="" value='98') Iran (+98)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag iq" data-title="" value='964') Iraq (+964)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ie" data-title="" value='353') Ireland (+353)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag im" data-title="" value='44') Isle of Man (+44)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag il" data-title="" value='972') Israel (+972)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag it" data-title="" value='39') Italy (+39)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ci" data-title="" value='225') Ivory Coast (+225)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag jm" data-title="" value='1 876') Jamaica (+1 876)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag jp" data-title="" value='81') Japan (+81)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag je" data-title="" value='44') Jersey (+44)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag jo" data-title="" value='962') Jordan (+962)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag kz" data-title="" value='7 6') Kazakhstan (+7 6)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ke" data-title="" value='254') Kenya (+254)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag kr" data-title="" value='82') Korea Republic o (+82)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag kw" data-title="" value='965') Kuwait (+965)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag kg" data-title="" value='996') Kyrgyzstan (+996)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag la" data-title="" value='856') Laos PD (+856)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag lv" data-title="" value='371') Latvia (+371)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag lb" data-title="" value='961') Lebanon (+961)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ls" data-title="" value='266') Lesotho (+266)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag lr" data-title="" value='231') Liberia (+231)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ly" data-title="" value='218') Libya (+218)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag li" data-title="" value='423') Liechtenstein (+423)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag lt" data-title="" value='370') Lithuania (+370)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag lu" data-title="" value='352') Luxembourg (+352)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mo" data-title="" value='853') Macau (+853)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mk" data-title="" value='389') Macedonia (+389)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mg" data-title="" value='261') Madagascar (+261)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mw" data-title="" value='265') Malawi (+265)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag my" data-title="" value='60') Malaysia (+60)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mv" data-title="" value='960') Maldives (+960)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ml" data-title="" value='223') Mali (+223)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mt" data-title="" value='356') Malta (+356)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mq" data-title="" value='596') Martinique (+596)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mr" data-title="" value='222') Mauritania (+222)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mu" data-title="" value='230') Mauritius (+230)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mx" data-title="" value='52') Mexico (+52)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mc" data-title="" value='377') Monaco (+377)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mn" data-title="" value='976') Mongolia (+976)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag me" data-title="" value='382') Montenegro (+382)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ms" data-title="" value='1 664') Montserrat (+1 664)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ma" data-title="" value='212') Morocco/Western Sahara (+212)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag mz" data-title="" value='258') Mozambique (+258)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag na" data-title="" value='264') Namibia (+264)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag nr" data-title="" value='674') Nauru (+674)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag np" data-title="" value='977') Nepal (+977)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag nl" data-title="" value='31') Netherlands (+31)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag nc" data-title="" value='687') New Caledonia (+687)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag nz" data-title="" value='64') New Zealand (+64)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ni" data-title="" value='505') Nicaragua (+505)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ne" data-title="" value='227') Niger (+227)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ng" data-title="" value='234') Nigeria (+234)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag no" data-title="" value='47') Norway (+47)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag om" data-title="" value='968') Oman (+968)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag pk" data-title="" value='92') Pakistan (+92)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ps" data-title="" value='970') Palestinian Territory (+970)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag pa" data-title="" value='507') Panama (+507)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag pg" data-title="" value='675') Papua New Guinea (+675)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag py" data-title="" value='595') Paraguay (+595)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag pe" data-title="" value='51') Peru (+51)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ph" data-title="" value='63') Philippines (+63)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag pl" data-title="" value='48') Poland (+48)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag pt" data-title="" value='351') Portugal (+351)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag pr" data-title="" value='1 787') Puerto Rico (+1 787)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag qa" data-title="" value='974') Qatar (+974)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ro" data-title="" value='40') Romania (+40)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ru" data-title="" value='7') Russia/Kazakhstan (+7)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag rw" data-title="" value='250') Rwanda (+250)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ws" data-title="" value='685') Samoa (+685)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sm" data-title="" value='378') San Marino (+378)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag st" data-title="" value='239') Sao Tome and Principe (+239)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sa" data-title="" value='966') Saudi Arabia (+966)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sn" data-title="" value='221') Senegal (+221)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag rs" data-title="" value='381') Serbia (+381)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sc" data-title="" value='248') Seychelles (+248)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sg" data-title="" value='65') Singapore (+65)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sk" data-title="" value='421') Slovakia (+421)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag si" data-title="" value='386') Slovenia (+386)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag za" data-title="" value='27') South Africa (+27)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag es" data-title="" value='34') Spain (+34)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag lk" data-title="" value='94') Sri Lanka (+94)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag kn" data-title="" value='1869') St Kitts and Nevis (+1 869)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag lc" data-title="" value='1758') St Lucia (+1 758)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag vc" data-title="" value='1784') St Vincent Grenadines (+1 784)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sd" data-title="" value='249') Sudan (+249)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sr" data-title="" value='597') Suriname (+597)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sz" data-title="" value='268') Swaziland (+268)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag se" data-title="" value='46') Sweden (+46)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ch" data-title="" value='41') Switzerland (+41)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag sy" data-title="" value='963') Syria (+963)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag tw" data-title="" value='886') Taiwan (+886)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag tj" data-title="" value='992') Tajikistan (+992)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag tz" data-title="" value='255') Tanzania (+255)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag th" data-title="" value='66') Thailand (+66)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag tl" data-title="" value='670') Timor-Lest (+670)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag to" data-title="" value='676') Tonga (+676)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag tt" data-title="" value='1 868') Trinidad and Tobago (+1 868)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag tr" data-title="" value='90') Turkey (+90)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag tc" data-title="" value='1 649') Turks and Caicos Islands (+1 649)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ug" data-title="" value='256') Uganda (+256)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ua" data-title="" value='380') Ukraine (+380)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ae" data-title="" value='971') United Arab Emirates (+971)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag gb" data-title="" value='44') United Kingdom (+44)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag us" data-title="" value='1') United States (+1)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag uy" data-title="" value='598') Uruguay (+598)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag uz" data-title="" value='998') Uzbekistan (+998)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ve" data-title="" value='58') Venezuela (+58)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag vn" data-title="" value='84') Vietnam (+84)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag vg" data-title="" value='1284') Virgin Islands, British (+1 284)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag ye" data-title="" value='967') Yemen (+967)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag zm" data-title="" value='260') Zambia (+260)
    option(data-image="/images/msdropdown/icons/blank.gif" data-imagecss="flag zw" data-title="" value='263') Zimbabwe (+263)
  input(type='text' name='number')
  textarea(name='message' placeholder='Enter your message...')
  .actions
    input(type='submit' value='Send')
