header.navigation
  .navigation-wrapper
    a.logo(href="https://blower.io")
      img(src="/images/blower-icon-color.png" alt="Blower.io")
    a.navigation-menu-button(href="javascript:void(0)" id="js-mobile-menu") MENU
    .nav
      ul#js-navigation-menu.navigation-menu.show
        li.nav-link
          a(href="https://devcenter.heroku.com/blowerio") Blower.io Documentation
        li.nav-link
          a(href="https://addons.heroku.com/blowerio") Pricing
        li.nav-link
          a(href="https://github.com/gluio/smsatron-nodejs") Source code
    .navigation-tools
      a(href="https://heroku.com/deploy?template=https://github.com/gluio/smsatron-nodejs")
        img(src="https://www.herokucdn.com/deploy/button.png" alt="Deploy")
