header.navigation
  .navigation-wrapper
    a.logo(href="https://blower.io")
      img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image")
    a.navigation-menu-button(href="javascript:void(0)" id="js-mobile-menu") MENU
    .nav
      ul#js-navigation-menu.navigation-menu.show
        li.nav-link
          a(href="https://devcenter.heroku.com/blowerio") Blower.io Documentation
        li.nav-link
          a(href="https://addons.heroku.com/blowerio") Pricing
        li.nav-link
          a(href="https://github.com/gluio/smsatron-nodejs") Source code
    .navigation-tools
      a.sign-up(href="javascript:void(0)") Sign Up
